{% extends 'contproc/layout.html' %}
{% load static %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col">
            <section class="newsletter-subscribe py-4 py-xl-5">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col text-center">
                            <h2 class="display-6 fw-bold">Welcome!</h2>
                            <p class="text-muted">
                                <br>This is an entry page for ORFEUSx, an app handling
                                <br>power system extensions for the 
                                <a href="https://orfeus.princeton.edu/">ORFEUS</a> project.
                                <br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %} 